<section class="products">
    <div class="container">
        <button class="change-product">
            <svg class="change-product-arrow" width="79" height="282" viewBox="0 0 79 282" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M78 1L1.99999 145.242L78 281" stroke="#D5D5D5" stroke-width="2"/>
                </svg>                
        </button>
        <div class="product-card">
            <p class="name-of-product">Бейсболка промо</p>
            <div class="description-wrapper">
                <p class="description">Отличный вариант для масштабных промоакций. Легкий материал, востребованные промо
                    цвета. Удобная застежка-липучка</p>

                <div class="properties">
                    <p>Тип полотна..............................Поплин</p>
                    <p>Плотность..................................130 гр/м²</p>
                    <p>Состав.........................................100% хлопок</p>
                    <p> Упаковка.....................................Индивидуальная</p>
                    <p>Размер........................................57</p>
                </div>
            </div>

            <p class="number-of-products">1/13</p>

            <div class="images">
                <img class="image front" src="../../assets/caps/front.png" alt="front-image">
                <img class="image left" src="../../assets/caps/left.png" alt="left-image">
                <img class="image bottom" src="../../assets/caps/back.png" alt="bottom-image">
                <img class="image right" src="../../assets/caps/right.png" alt="right-image">
            </div>

            <div class="price-quantity">
                <p class="price">
                    <span class="new-price">205р/шт</span>
                    <span class="old-price">260р/шт</span>
                </p>

                <app-quantiti></app-quantiti>
            </div>

            <div class="colors-prints">
                <div class="colors-with-btns">
                    <button class="previous-color color-btn">
                        <svg width="30" height="16" viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M1.64648 15L15.6337 1" stroke="white" stroke-width="2" stroke-linecap="round" />
                            <path d="M15.6338 1L28.6465 15" stroke="white" stroke-width="2" stroke-linecap="round" />
                        </svg>
                    </button>

                    <div class="color-items">
                        <div class="color red second"></div>
                        <div class="color blue first"></div>
                        <div class="color green selected"></div>
                        <div class="color yellow first "></div>
                        <div class="color white second"></div>
                    </div>
                    <button class="next-color color-btn">
                        <svg width="31" height="16" viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M2 1L15.9872 15" stroke="white" stroke-width="2" stroke-linecap="round" />
                            <path d="M15.9873 15L29.0001 1" stroke="white" stroke-width="2" stroke-linecap="round" />
                        </svg>

                    </button>

                </div>

                <div class="print-container">
                    <p class="print-title">Виды нанесения:</p>
                    <div class="prints">
                        <p class="type-of-print second">Шелкография</p>
                        <p class="type-of-print first">Шелкотрансферная печать</p>
                        <p class="type-of-print selected">Печать флексом, флоком</p>
                        <p class="type-of-print first">DTF печать</p>
                        <p class="type-of-print second">Вышивка</p>
                        <p class="type-of-print hidden">Шеврон</p>
                    </div>
                </div>
            </div>
            <div class="to-cart-wrapper">
                <button class="to-cart">В корзину</button>
            </div>
            <button class="cart-button">
                <svg class="cart" width="34" height="34" viewBox="0 0 34 34" fill="none"
                    xmlns="http://www.w3.org/2000/svg">
                    <circle cx="17" cy="30" r="2" stroke="#A2A2A2" stroke-width="2" />
                    <circle cx="25" cy="30" r="2" stroke="#A2A2A2" stroke-width="2" />
                    <path
                        d="M1 6L6.8612 7.61903C7.55401 7.8104 8.09085 8.35881 8.26741 9.05553L11.6722 22.4913C11.8971 23.3786 12.6956 24 13.6109 24H27.5109C28.3595 24 29.1158 23.4645 29.3975 22.664L32.0624 15.0926C32.5203 13.7916 31.555 12.4286 30.1758 12.4286H13"
                        stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
                </svg>
                <svg class="dot" width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="1.5" cy="1.5" r="1.5" transform="matrix(1 0 0 -1 0 3)" fill="#FEFEFE" />
                </svg>

            </button>
        </div>
        <button class="change-product">
            <svg class="change-product-arrow" width="79" height="282" viewBox="0 0 79 282" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1L77 145.242L0.999988 281" stroke="white" stroke-width="2"/>
                </svg>
                
        </button>
    </div>
</section>