@import url('../../styles.css');

.products {
	height: 100vh;
	width: 100%;
	background-color: var(--background);
}

.products.mobile {
	display: none;
}

.products.desktop {
	display: block;
}

.container {
	display: grid;
	grid-template-columns: 1fr 8fr 1fr;
	grid-template-rows: 1fr auto;

	padding: 10.625em 0;

	height: 100%;
	width: 100%;

	align-content: center;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

.product-card {
	grid-column: 2 / 3;

	display: grid;
	grid-template-columns: 25% 45% 30%;
	grid-template-rows: auto 1fr auto;

	padding: 3.75em 5.5em;

	width: 95%;
	height: 80vh;

	background-color: var(--card);
	border-radius: 10px;
	box-shadow: 0 0 20px 1px var(--dark-shadow);

	position: relative;
}

input {
	font-size: inherit;
	font-weight: inherit;
	font-family: inherit;
	color: inherit;

	border-radius: 0.2rem;
	border: none;
	background-color: transparent;
	outline: 1px solid transparent;
	transition: 0.15s;
}

.name-of-product {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	display: block;

	/* color: var(--main-text); */
	align-self: flex-start;
}

.name {
	font-size: 2em;
	max-width: 100%;
	color: var(--main-text);
}

.vendor-container {
	margin-top: 0.5em;
}
.vendor-label {
	padding-top: 0.5em;
	font-size: 1em;
	color: var(--secondary-text);
}

.vendor {
	font-size: 1em;

	color: var(--secondary-text);
}

.description-wrapper {
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto auto;

	align-content: space-around;
	align-items: center;

	height: 100%;
}
.description {
	grid-row: 1 / 2;

	padding-top: 1.5em;
	margin-right: 0.6em;

	max-height: 13em;
	max-width: 39ch;
	min-height: 20ch;

	line-height: 1.6;
	font-size: 1em;
	font-family: inherit;
	color: var(--secondary-text);

	border: none;
	border-radius: 0.2rem;
	outline: 1px solid transparent;
	background-color: transparent;
	overflow: hidden;
	transition: 0.15s;
	resize: none;
}

.outlined {
	outline: 1px solid var(--secondary-text);
	background-color: var(--card);
}

.properties {
	grid-row: 2 / 3;
	display: block;
	width: 95%;
	overflow: hidden;
}

.images {
	grid-column: 2 / 3;
	grid-row: 2 / 3;

	display: flex;
	align-items: flex-start;
	justify-content: center;
}

.price-quantity {
	grid-column: 2 / 3;
	grid-row: 3 / 4;

	display: grid;
	grid-template-columns: 100% auto;
	grid-template-rows: auto;

	align-items: center;
	justify-items: center;
	justify-content: center;
}

.price-quantity.not-auth {
	grid-template-columns: 50% auto;
	justify-content: space-around;
}

.price-container {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 30% 20% 30% 20%;
	align-items: center;
	justify-content: center;
	transition: 0.2s;
}

.price-container.editable {
	grid-template-columns: 20% 30% 20% 30%;
	width: 100%;
}

.price-container.not-auth {
	grid-template-columns: 0% 30% 0% 30%;
}

.price {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
}

.label {
	justify-self: self-end;
	margin-right: 0.5em;
	margin-bottom: 0.1em;
	color: var(--secondary-text);
}

.new-price {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
	color: var(--new-price);
}

.old-price {
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}

.colors-prints {
	grid-column: 3 / 4;
	grid-row: 2 / 3;

	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: auto;

	align-content: center;
}

.hidden {
	display: none;
}

.to-cart-wrapper {
	grid-column: 3 / 4;
	grid-row: 3 / 4;

	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-template-rows: 1fr;

	align-items: center;
	justify-items: end;
}
.to-cart {
	grid-column: 2 / 3;
	grid-row: 1 / 2;

	display: inline;
	padding: 0.8em 3.5em;

	font-family: inherit;
	font-size: 1em;
	color: var(--secondary-text);

	background-color: transparent;
	border: 1px solid var(--secondary-text);
	border-radius: 5px;

	cursor: pointer;
}

.to-cart:hover {
	border: 1px solid var(--outline);
	box-shadow: 0px 0px 5px var(--outline);
}

.card-buttons {
	display: inline-block;
	width: 35px;
	height: 35px;
	position: absolute;
	left: 95%;
	top: 4%;
}

.button {
	position: absolute;
	top: 0;
	left: 0;
}

.edit {
	/* top: -6px;
	left: -1px; */
	width: 2.19rem;
	height: 2.19rem;
}

.back {
	width: 2.19rem;
	height: 2.19rem;
	top: 3px;
}

.cart {
	width: 100%;
	height: 100%;
}

.dot {
	width: 20%;
	height: 20%;
	position: absolute;
	top: 43%;
	left: 52%;
	filter: blur(1px);

	animation: dotIconAnimation 1s linear 0s infinite alternate forwards;
}

.dot circle {
	fill: var(--outline);
}

.hidden {
	display: none;
	animation: hidden 0.2s linear 0s 1 normal forwards;
}

.showed {
	display: block;
	animation: hidden 0.2s linear 0s 1 reverse forwards;
}

@keyframes hidden {
	0% {
		opacity: 100%;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}

.arrow-back-icon {
	position: absolute;
	top: 3%;
	left: 2%;

	cursor: pointer;
}
.arrow-back-icon svg {
	display: block;
	width: 100%;
}

.arrow-back-icon:hover svg * {
	stroke: var(--outline);
}

@keyframes dotIconAnimation {
	0% {
		opacity: 100%;
		filter: blur(2px);
	}
	100% {
		opacity: 50%;
		filter: blur(1px);
	}
}

/* /////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
	.products {
		height: 100vh;
		width: 100%;
		background-color: var(--background);
		overflow: hidden;
	}

	.products.desktop {
		display: none;
	}

	.products.mobile {
		display: block;
		position: relative;
		z-index: 0;
	}

	.product-nav-bar {
		display: flex;
		padding: 1em 4em 1em 1em;
		width: 100%;
		height: 21em;

		align-items: center;
		justify-content: space-between;
		background-color: var(--background);
		/* background-color: var(--card); */
		box-shadow: 0 0 5px 1px var(--dark-shadow);
		position: absolute;
		z-index: 1;
	}

	.arrow-back-icon {
		width: 35px;
		height: 35px;

		position: relative;
	}
	.arrow-back-icon svg {
		display: inline-block;
		width: 100%;
		height: 100%;
	}

	.cart-button {
		width: 40px;
		height: 40px;
		position: relative;
		top: 0;
		left: 0;
	}

	.product-card {
		display: block;
		padding: 21em 0 0;
		height: 100%;

		background: transparent;
		border: none;
		box-shadow: none;
		border-radius: 0;
	}

	.image-container {
		display: block;
	}

	.images {
		display: flex;
		overflow-x: scroll;
		overflow-y: hidden;
		width: 100%;

		scroll-snap-type: x mandatory;
		scroll-behavior: smooth;
	}

	.image-with-shadow {
		/* регулировать при анимации */
		flex: 1 0 100%;
		padding: 10em;
		width: 100%;
		height: 100%;
		scroll-snap-align: center;
	}

	.image {
		display: block;

		object-fit: contain;
		aspect-ratio: 1/1;
		filter: drop-shadow(1px 1px 10px var(--dark-shadow));
	}

	.image.front,
	.image.left,
	.image.bottom,
	.image.right {
		width: 100%;
	}

	.description-wrapper {
		display: block;
		padding: 4em;

		height: 100%;
		border-radius: 5px 5px 0 0;
		box-shadow: 0px 0px 10px 5px var(--dark-shadow);
		background-color: var(--background);
	}

	.description-btn-container {
		display: flex;
		align-items: center;
		justify-content: flex-start;
	}

	.description-btn {
		font-size: 4em;
		color: var(--secondary-text);
		font-family: inherit;
	}

	.description-btn.active {
		color: var(--main-text);
	}

	.description-btn + .description-btn {
		margin-left: 0.8em;
	}

	.description-container {
		display: block;
		margin-top: 7em;
		width: 100%;
		height: 100%;

		color: var(--secondary-text);
	}

	.name-of-product {
		display: block;
	}

	.name {
		font-size: 3em;
	}

	.articul {
		font-size: 2em;
	}

	.description {
		font-size: 4.5em;
		line-height: 1.6;
		color: var(--secondary-text);
	}

	.price {
		margin-top: 1em;
		justify-content: flex-start;
		font-size: 6em;
	}

	.new-price {
		margin-right: 1em;
		color: var(--new-price);
	}

	.old-price {
		text-decoration: line-through;
		color: var(--secondary-text);
	}

	.properties-container {
		display: none;
		margin-top: 7em;
	}

	.properties {
		font-size: 5em;
	}

	.color-print-container {
		display: none;
		height: 100%;
	}
	.colors-prints {
		display: flex;
		flex-direction: column;
		padding-bottom: 0.5em;
	}

	.color-items {
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;

		margin: 7em 0;
	}

	.color {
		width: 9em;
		height: 9em;
	}
	.color + .color {
		margin: 0 2em;
	}

	.color.red {
		background-color: red;
	}

	.color.blue {
		background-color: blue;
	}

	.color.green {
		background-color: green;
	}

	.color.yellow {
		background-color: yellow;
	}

	.color.white {
		background-color: white;
	}

	.color.selected {
		width: 9em;
		height: 9em;
		border: 2px solid var(--main-text);
		border-radius: 5px;
	}

	.print-title {
		margin-bottom: 1em;
		font-size: 5em;
		color: var(--main-text);
	}

	.type-of-print {
		padding: 0.5em 0.5em;
		color: var(--secondary-text);
		font-size: 5em;
		font-family: inherit;
	}

	.type-of-print.selected {
		font-size: 1.2em;
		color: var(--main-text);
	}

	.to-cart-wrapper {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 27em;
		/* background: linear-gradient(0deg, var(--card) 0%, var(--card) 70%, transparent 100%); */
		background: linear-gradient(0deg, var(--background) 0%, var(--background) 70%, transparent 100%);
		position: absolute;
		bottom: 0;
		z-index: 2;
	}
	.to-cart {
		display: inline;
		padding: 0.8em 3.5em;

		font-family: inherit;
		font-size: 5em;
		color: var(--text-intro-button);

		background-color: var(--main-text);
		border: none;

		box-shadow: 0px 0px 4px 0px var(--text-shadow);
	}

	.to-cart:hover {
		border: 1px solid var(--outline);
		box-shadow: 0px 0px 5px var(--outline);
	}
}
