<section class="products desktop">
	<div class="container">
		<button class="arrow-back-icon icon" [routerLink]="['/products']">
			<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M20 3L5.2901 18.6293C4.5653 19.3994 4.5653 20.6006 5.2901 21.3707L20 37"
					stroke="#A2A2A2"
					stroke-width="3"
					stroke-linecap="round"
				/>
				<path d="M6 20H36" stroke="#A2A2A2" stroke-width="3" stroke-linecap="round" />
			</svg>
		</button>
		<app-account-buttons></app-account-buttons>
		<form class="product-card" [formGroup]="productCardForm">
			<div class="name-of-product">
				<input
					class="name"
					type="text"
					formControlName="name"
					[ngClass]="{ outlined: isEdit }"
					placeholder="Название"
				/>
				<p class="vendor-container">
					<span class="vendor-label">Артикул: </span>
					<input
						class="vendor"
						type="text"
						formControlName="code"
						[ngClass]="{ outlined: isEdit }"
						placeholder="Артикул"
					/>
				</p>
			</div>
			<div class="description-wrapper">
				<textarea
					class="description"
					formControlName="description"
					[ngClass]="{ outlined: isEdit }"
					placeholder="Описание"
				></textarea>
				<div class="properties">
					<app-product-properties
						class="prop"
						[props]="productPropsControl"
						[editable]="isEdit"
					></app-product-properties>
				</div>
			</div>

			<div class="price-quantity" [ngClass]="{ 'not-auth': !authService.IsAuthenticated }">
				<div class="price-container" [ngClass]="{ editable: isEdit, 'not-auth': !authService.IsAuthenticated }">
					<span class="new-price label" [ngClass]="{ hidden: !authService.IsAuthenticated }"
						>Новая&nbsp;цена:</span
					>
					<app-quantity
						class="q-new-price"
						[IsDisabled]="!isEdit"
						[postfix]="'р./шт.'"
						[colored]="!isEdit && !authService.IsAuthenticated"
						formControlName="newPrice"
					></app-quantity>
					<span class="old-price label" [ngClass]="{ hidden: !authService.IsAuthenticated }"
						>Старая&nbsp;цена:</span
					>
					<app-quantity
						class="q-old-price"
						[IsDisabled]="!isEdit"
						[postfix]="'р./шт.'"
						formControlName="oldPrice"
					></app-quantity>
				</div>

				<ng-container *ngIf="authService.IsAuthenticated">
					<app-quantity [IsDisabled]="authService.IsAuthenticated"></app-quantity>
				</ng-container>
			</div>

			<div class="images">
				<app-image-block
					[productColor]="productColor"
					[productsColorCount]="productColorsControl.value.length"
					[editable]="isEdit"
				></app-image-block>
			</div>

			<div class="colors-prints">
				<app-colors-list
					[colorsControl]="productColorsControl"
					(onColorChanged)="onColorChanged($event)"
					[editable]="isEdit"
				></app-colors-list>

				<app-prints-list [printsControl]="productPrintsControl" [editable]="isEdit"></app-prints-list>
			</div>
			<div class="to-cart-wrapper">
				<button class="btn to-cart" *ngIf="!authService.IsAuthenticated" (click)="addToCart()">В корзину</button>
				<ng-container *ngIf="authService.IsAuthenticated && isAdding">
					<button class="btn">Добавить</button>
					<button class="btn">Отмена</button>
				</ng-container>
				<ng-container *ngIf="isEdit && !isAdding">
					<button class="btn">Сохранить</button>
					<button class="btn">Отмена</button>
				</ng-container>
			</div>
			<div class="card-buttons">
				<button class="button icon" [routerLink]="['/orders']" [ngClass]="{ hidden: authService.IsAuthenticated }">
					<svg
						class="cart"
						width="34"
						height="34"
						viewBox="0 0 34 34"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<circle cx="17" cy="30" r="2" stroke="#A2A2A2" stroke-width="2" />
						<circle cx="25" cy="30" r="2" stroke="#A2A2A2" stroke-width="2" />
						<path
							d="M1 6L6.8612 7.61903C7.55401 7.8104 8.09085 8.35881 8.26741 9.05553L11.6722 22.4913C11.8971 23.3786 12.6956 24 13.6109 24H27.5109C28.3595 24 29.1158 23.4645 29.3975 22.664L32.0624 15.0926C32.5203 13.7916 31.555 12.4286 30.1758 12.4286H13"
							stroke="#A2A2A2"
							stroke-width="2"
							stroke-linecap="round"
						/>
					</svg>
					<svg
						*ngIf="cartIconDotActive"
						class="dot"
						width="3"
						height="3"
						viewBox="0 0 3 3"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<circle cx="1.5" cy="1.5" r="1.5" transform="matrix(1 0 0 -1 0 3)" fill="#FEFEFE" />
					</svg>
				</button>
				<ng-container *ngIf="authService.IsAuthenticated && !isAdding">
					<button
						class="button edit icon"
						(click)="edit()"
						[ngClass]="{
							showed: !isEdit,
							hidden: isEdit
						}"
					>
						<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M36.8624 10.8241L30.1687 6.78446C29.6958 6.49909 29.0812 6.65108 28.7958 7.12393L14.1704 31.3584C14.056 31.5479 14.0078 31.7699 14.0332 31.9898L14.7661 38.3408C14.8412 38.9912 15.5106 39.3952 16.1211 39.1585L22.0818 36.8471C22.2881 36.7671 22.4621 36.6209 22.5764 36.4314L37.2018 12.1969C37.4872 11.7241 37.3352 11.1094 36.8624 10.8241Z"
								stroke="#A2A2A2"
								stroke-width="2"
							/>
							<circle
								cx="16.6057"
								cy="36.8243"
								r="2.45455"
								transform="rotate(31.1108 16.6057 36.8243)"
								fill="#A2A2A2"
							/>
						</svg>
					</button>
					<button
						class="button back icon"
						(click)="cancelEdit()"
						[ngClass]="{
							showed: isEdit,
							hidden: !isEdit
						}"
					>
						<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M2.48438 19.4846L19.4549 2.51406"
								stroke="#A2A2A2"
								stroke-width="2"
								stroke-linecap="round"
							/>
							<path
								d="M2.48535 2.51465L19.4559 19.4852"
								stroke="#A2A2A2"
								stroke-width="2"
								stroke-linecap="round"
							/>
						</svg>
					</button>
				</ng-container>
			</div>
		</form>
	</div>
</section>

<section class="products mobile">
	<nav class="product-nav-bar">
		<button class="arrow-back-icon">
			<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M20 3L5.2901 18.6293C4.5653 19.3994 4.5653 20.6006 5.2901 21.3707L20 37"
					stroke="#A2A2A2"
					stroke-width="3"
					stroke-linecap="round"
				/>
				<path d="M6 20H36" stroke="#A2A2A2" stroke-width="3" stroke-linecap="round" />
			</svg>
		</button>
		<button class="cart-button" [routerLink]="['/orders']">
			<svg class="cart" width="34" height="34" viewBox="0 0 34 34" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="17" cy="30" r="2" stroke="#A2A2A2" stroke-width="2" />
				<circle cx="25" cy="30" r="2" stroke="#A2A2A2" stroke-width="2" />
				<path
					d="M1 6L6.8612 7.61903C7.55401 7.8104 8.09085 8.35881 8.26741 9.05553L11.6722 22.4913C11.8971 23.3786 12.6956 24 13.6109 24H27.5109C28.3595 24 29.1158 23.4645 29.3975 22.664L32.0624 15.0926C32.5203 13.7916 31.555 12.4286 30.1758 12.4286H13"
					stroke="#A2A2A2"
					stroke-width="2"
					stroke-linecap="round"
				/>
			</svg>
			<svg class="dot" width="3" height="3" viewBox="0 0 3 3" fill="none" xmlns="http://www.w3.org/2000/svg">
				<circle cx="1.5" cy="1.5" r="1.5" transform="matrix(1 0 0 -1 0 3)" fill="#FEFEFE" />
			</svg>
		</button>
	</nav>
	<form class="product-card" [formGroup]="productCardForm">
		<!-- <div class="image-container">
			
		</div> -->
		<div class="images">
			<div class="image-with-shadow">
				<img class="image front" src="../../assets/caps/front.png" alt="front-image" />
			</div>
			<div class="image-with-shadow">
				<img class="image left" src="../../assets/caps/left.png" alt="left-image" />
			</div>
			<div class="image-with-shadow">
				<img class="image bottom" src="../../assets/caps/back.png" alt="bottom-image" />
			</div>
			<div class="image-with-shadow">
				<img class="image right" src="../../assets/caps/right.png" alt="right-image" />
			</div>
		</div>
		<div class="description-wrapper">
			<div class="description-btns-container">
				<button class="description-btn active">Описание</button>
				<button class="description-btn">Характеристики</button>
				<button class="description-btn">Цвет и нанесения</button>
			</div>
			<div class="description-container">
				<div class="name-of-product">
					<input
						class="name"
						type="text"
						formControlName="name"
						[ngClass]="{ outlined: isEdit }"
						placeholder="Название"
					/>
					<p class="vendor-container">
						<span class="vendor-label">Артикул: </span>
						<input
							class="vendor"
							type="text"
							formControlName="code"
							[ngClass]="{ outlined: isEdit }"
							placeholder="Артикул"
						/>
					</p>
				</div>
				<textarea
					class="description"
					formControlName="description"
					[ngClass]="{ outlined: isEdit }"
					placeholder="Описание"
				></textarea>
				<div class="price-quantity" [ngClass]="{ 'not-auth': !authService.IsAuthenticated }">
					<div class="price-container" [ngClass]="{ editable: isEdit, 'not-auth': !authService.IsAuthenticated }">
						<span class="new-price label" [ngClass]="{ hidden: !authService.IsAuthenticated }"
							>Новая&nbsp;цена:</span
						>
						<app-quantity
							class="q-new-price"
							[IsDisabled]="!isEdit"
							[postfix]="'р./шт.'"
							[colored]="!isEdit && !authService.IsAuthenticated"
							formControlName="newPrice"
						></app-quantity>
						<span class="old-price label" [ngClass]="{ hidden: !authService.IsAuthenticated }"
							>Старая&nbsp;цена:</span
						>
						<app-quantity
							class="q-old-price"
							[IsDisabled]="!isEdit"
							[postfix]="'р./шт.'"
							formControlName="oldPrice"
						></app-quantity>
					</div>

					<ng-container *ngIf="authService.IsAuthenticated">
						<app-quantity [IsDisabled]="authService.IsAuthenticated"></app-quantity>
					</ng-container>
				</div>
			</div>

			<div class="properties-container">
				<div class="properties">
					<app-product-properties
						class="prop"
						[props]="productPropsControl"
						[editable]="isEdit"
					></app-product-properties>
				</div>
			</div>

			<div class="color-print-container">
				<app-colors-list
					[colorsControl]="productColorsControl"
					(onColorChanged)="onColorChanged($event)"
					[editable]="isEdit"
				></app-colors-list>
				<label for="prints" class="print-title">Выберите вид нанесения:</label>
				<!-- <select class="type-of-print" name="prints" id="prints">
					<option class="print" value="">Шелкография</option>
					<option class="print" value="">Шелкотрансферная печать</option>
					<option class="print" value="">Печать флексом, флоком</option>
					<option class="print" value="">DTF печать</option>
					<option class="print" value="">Вышивка</option>
					<option class="print" value="">Шеврон</option>
				</select> -->
			</div>
		</div>
	</form>
	<div class="to-cart-wrapper">
		<button class="to-cart">В корзину</button>
	</div>

	<app-mobile-background-line></app-mobile-background-line>
</section>
