@import url('../../styles.css');

.order-list-container {
	display: block;
	height: 100svh;
	width: 100%;
	padding: 0 6.125em;

	background-color: var(--background);
	overflow: hidden;
	position: relative;
}

.order-sort-btn {
	display: inline-flex;
	margin-top: 2em;
	margin-left: 2em;
	width: 60%;
}

.sort-btns {
	display: flex;
	flex-direction: row;

	align-items: center;
	justify-content: flex-start;

	border: none;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 0 20px 1px var(--dark-shadow);
}

button {
	padding: 1em;

	font-size: 1em;
	font-family: inherit;
	color: var(--secondary-text);

	background-color: var(--card);
	position: relative;
}

button:first-child {
	padding-left: 2em;
}
button:last-child {
	padding-right: 2em;
}

button:hover {
	color: var(--main-text);
}

.active {
	background-color: var(--active);
}

.grouped:first-child:hover::after {
	content: '';
	width: 1px;
	height: 100%;
	background-color: var(--secondary-text);
	position: absolute;
	top: 0;
	right: 0;
}

.grouped:nth-child(2):hover::after {
	content: '';
	width: 1px;
	height: 100%;
	background-color: var(--secondary-text);
	position: absolute;
	top: 0;
	right: 0;
}

.grouped:nth-child(2):hover::before {
	content: '';
	width: 1px;
	height: 100%;
	background-color: var(--secondary-text);
	position: absolute;
	top: 0;
	left: 0;
}

.grouped:nth-child(3):hover::after {
	content: '';
	width: 1px;
	height: 100%;
	background-color: var(--secondary-text);
	position: absolute;
	top: 0;
	left: 0;
}

.add {
	display: inline-block;
	margin-left: 2em;
	padding: 1em 2.5em;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 20px 1px var(--dark-shadow);
}

.add-mobile {
	display: none;
}

.mobile-icon {
	display: none;
}

@media (max-width: 600px) {
	.order-list-container {
		padding: 20em 0 0;
	}
	.order-sort-btn {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		padding: 3em 4em;

		height: 20em;
		width: 100vw;
		background-color: var(--background);
		/* box-shadow: 0 0 20px 1px var(--dark-shadow); */

		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	.order-sort-btn::after {
		content: '';
		box-shadow: 0 0 10px 1px var(--dark-shadow);
		height: 100%;
		position: absolute;
		width: 100%;
		left: 0px;
		top: 0px;
		z-index: -1;
	}

	.sort-btns {
		display: flex;
		flex-direction: column;

		width: 90vw;
		background-color: var(--background);
		box-shadow: none;
		border-top-left-radius: 0;
		position: absolute;
		top: 20em;
		right: 0;
		z-index: -2;
	}

	button {
		font-size: 5em;
	}

	button:first-child {
		padding-left: 1em;
	}

	.grouped:nth-child(n)::after,
	.grouped:nth-child(n)::before {
		display: none;
	}

	.add {
		display: none;
	}

	.add-mobile {
		display: inline;
		padding: 0;
		margin: 2em;
		padding: 0.7em;

		width: 4em;
		height: 4em;
		border-radius: 50%;
		background-color: var(--background);
		box-shadow: 0 0 10px 1px var(--dark-shadow);

		position: absolute;
		right: 0;
		bottom: 0;
	}

	.add-mobile:first-child {
		padding-left: 0.7em;
	}

	.add-mobile:hover {
		transform: scale(1.05);
	}

	.mobile-icon {
		display: block;
		height: 100%;
	}

	.mobile-icon svg {
		width: 100%;
		height: 100%;
	}

	.mobile-icon svg * {
		stroke: var(--main-text);
	}
}
