<ng-container *ngIf="props.value !== ''">
	<div class="property" *ngFor="let p of props.value; index as i">
		<p class="prop-name">{{ p.name }}</p>
		<span class="dots"
			>...........................................................................................................</span
		>
		<p class="prop-value">{{ p.value }}</p>
		<ng-container *ngIf="editable">
			<button class="button icon remove" (click)="removeValue(i)">
				<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.48438 19.4846L19.4549 2.51406" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
					<path d="M2.48535 2.51465L19.4559 19.4852" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
				</svg>
			</button>
		</ng-container>
	</div>
</ng-container>
<ng-container *ngIf="!props.value">
	<p class="empty-property">Опишите свойства</p>
</ng-container>
<div class="inputs-container" [ngClass]="{ visible: isVisibleInput }">
	<div class="inputs">
		<input
			type="text"
			#name
			(keydown.enter)="onChangeName($event)"
			(change)="onChangeName($event)"
			[disabled]="!isVisibleInput"
		/>
		<input type="text" #value (keydown.enter)="onChangeValue($event)" [disabled]="!isVisibleInput" />
	</div>
	<button class="add icon" (click)="toggleVisibilityInput()" [ngClass]="{ hidden: !editable, showed: editable }">
		<svg _ngcontent-dxn-c13="" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path _ngcontent-dxn-c13="" d="M1 13H25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round"></path>
			<path _ngcontent-dxn-c13="" d="M13 1L13 25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round"></path>
		</svg>
	</button>
</div>
