.property {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto auto auto;
	width: 100%;
	margin-bottom: 0.5em;

	color: var(--secondary-text);
	position: relative;
}

.remove {
	display: none;
	grid-column: 3 / 4;
	position: absolute;
	top: -11px;
	right: -45px;
}

.empty-property {
	color: var(--secondary-text);
}

.property:hover {
	color: var(--primary-text);
}

.property:hover > .remove {
	display: inline;
}

p {
	padding: 0.05em;
	font-size: 0.9em;
	color: inherit;
	white-space: nowrap;
}

.prop-name {
	grid-column: 1 / 2;
	padding-right: 0.5em;
}

.prop-value {
	grid-column: 3 / 4;
	padding-left: 0.5em;
}

.property .dots {
	grid-column: 2 / 3;
	color: inherit;
	overflow: hidden;
}

.inputs-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 0% auto;
	transition: all 0.2s;
}

.visible {
	grid-template-rows: 40% auto;
}

.inputs {
	grid-column: 1 / 2;
	grid-row: 1 / 2;

	margin-top: 0.6em;
	width: 100%;

	opacity: 0;
	pointer-events: none;
	transition: all 0.2s;
}

.inputs-container.visible .inputs {
	opacity: 100%;
	pointer-events: all;
}

input {
	margin-top: 0.5em;
	padding: 0.1em 0.2em;
	width: 50%;

	font-size: inherit;
	font-weight: normal;
	font-family: inherit;
	color: var(--secondary-text);

	border: 1px solid var(--secondary-text);
	border-radius: 0.2rem;
	transition: all 0.2s;
}

.add {
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	display: block;
	margin: 1rem auto 0;
	width: 1.5rem;
}

.hidden {
	display: none;
	animation: hidden 0.2s linear 0s 1 normal forwards;
}

.showed {
	display: block;
	animation: hidden 0.2s linear 0s 1 reverse forwards;
}

@keyframes hidden {
	0% {
		opacity: 100%;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}

@media (max-width: 600px) {
	.property {
		font-size: 5em;
		transition: 0.2s;
	}
	.property.edit:hover {
		width: 80%;
		/* margin: 1em 0; */
	}

	.visible {
		grid-template-rows: 50% 50%;
		align-items: center;
	}

	.inputs {
		margin: 1em 0;
		font-size: 5em;
	}

	input {
		padding: 0.3em 0.2em;
		border-radius: 5px;
	}

	.text {
		margin-top: 0;
	}

	.add {
		margin: 0 auto;
		width: 7rem;
		height: 7rem;
	}

	.remove {
		width: 7rem;
		height: 7rem;
		top: -2px;
		right: -47px;
	}

	.empty-property {
		font-size: 5em;
	}
}
