.property {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;

	width: 100%;
	margin-right: 3.5em;
	margin-bottom: 0.5em;

	color: var(--secondary-text);
}

.property:hover {
	color: var(--primary-text);
}

p {
	flex: 1 1 auto;
	padding: 0.05em;
	font-size: 0.9em;
	color: inherit;
	white-space: nowrap;
}

.prop-name {
	padding-right: 0.5em;
	text-align: start;
}

.prop-value {
	padding-left: 0.5em;
	text-align: end;
}

.property .dots {
	flex: 0 1 auto;
	color: inherit;
	overflow: hidden;
}

.inputs-container {
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: 0% auto;
	transition: all 0.2s;
}

.visible {
	grid-template-rows: 40% auto;
}

.inputs {
	grid-column: 1 / 2;
	grid-row: 1 / 2;

	margin-top: 0.6em;
	width: 100%;

	opacity: 0;
	pointer-events: none;
	transition: all 0.2s;
}

.inputs-container.visible .inputs {
	opacity: 100%;
	pointer-events: all;
}

input {
	margin-top: 0.5em;
	width: 50%;

	font-size: inherit;
	font-weight: normal;
	font-family: inherit;
	color: var(--secondary-text);

	border: 1px solid var(--secondary-text);
	border-radius: 0.2rem;
	transition: all 0.2s;
}

.add {
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	display: block;
	margin: 1rem auto 0;
	width: 1.5rem;
}

@media (max-width: 600) {
	.properties p {
		padding-right: 0;

		font-size: 1em;
		line-height: 1;
		color: var(--secondary-text);
	}

	.properties p + p {
		margin-top: 1em;
	}
}
