.container {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 1.6em;
	right: 3em;
}

.profile {
}

.profile:hover .body,
.profile:hover .head {
	fill: var(--outline);
}

.logout {
	margin-left: 1em;
	color: var(--secondary-text);
	cursor: pointer;
}

.logout:hover {
	color: var(--main-text);
}
