<div class="container">
	<button class="profile icon" [routerLink]="['/profile']">
		<span class="profile-label">Профиль</span>
		<svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<circle class="outer" cx="24" cy="24" r="20" stroke="#A2A2A2" stroke-width="2" />
			<circle class="head" cx="24" cy="18" r="8" fill="#A2A2A2" />
			<path
				class="body"
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M8.13281 37.7562C12.1361 31.1264 17.7653 27 24.0002 27C30.2353 27 35.8645 31.1265 39.8678 37.7564C36.0174 42.1938 30.3366 45 24.0004 45C17.6641 45 11.9832 42.1937 8.13281 37.7562Z"
				fill="#A2A2A2"
			/>
		</svg>
	</button>
	<a class="logout">Выйти</a>
</div>
