.container {
	display: flex;
	align-items: center;
	justify-content: center;

	position: absolute;
	top: 1.6em;
	right: 3em;
}

.profile {
}

.profile-label {
	display: none;
}

.profile:hover .body,
.profile:hover .head {
	fill: var(--outline);
}

.logout {
	margin-left: 1em;
	color: var(--secondary-text);
	cursor: pointer;
}

.logout:hover {
	color: var(--main-text);
}

@media (max-width: 600px) {
	.container {
		flex-direction: column;
		font-size: 5em;
		position: static;
	}

	.icon {
		display: inline;
		width: 100%;
		height: 100%;
		color: var(--secondary-text);
	}

	.profile > svg {
		display: none;
	}

	.profile {
		padding: 1em;
		font-family: inherit;
		font-size: inherit;
	}

	.profile-label {
		display: inline;
	}

	.logout {
		margin: 0;
		padding: 1em;
	}
}
