@import url("../../styles.css");

.working-easy {
    display: block;
    margin: 0;
    padding: 4em 9em 9em;
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    font-size: inherit;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-bottom: 1px solid var(--secondary-text);
}

h2 {
    margin-top: .5em;
    font-size: 3em;
}


.card-container {
    display: grid;
    /* grid-template-columns: minmax(2em, 1fr) auto minmax(2em, 1fr) auto minmax(2em, 1fr) auto minmax(2em, 1fr);     */
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
    grid-template-rows: auto;   
    
    margin: auto 0;
    justify-items: center;    
    align-items: center;

    height: 100%;
}



.card {    
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: auto 2fr;    
    align-items: center;
    
    padding: 7.5em 2.5em;
    
    height: 25em;
    width: 18.75em;

    text-align: center;
    
    outline: 2px solid var(--outline);
    border-radius: 5px;
    background-color: var(--card);
    box-shadow: 0px 0px 20px 2px var(--dark-shadow);

    transition: all .1s linear;

}

.card:hover {
    box-shadow: 0px 0px 15px 2px var(--outline);
    
}

.card.first {
    margin-bottom: 3em;
}

.card.second {
    margin-top: 5em;
}

.card.third {
    margin-bottom: .5em;
}

.card.fourth {
    margin-top: 2.5em;
}

.card-number {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
    font-size: 8em;
    line-height: .8;
}

.card-icon {
    grid-column: 2 / 3;
    grid-row: 1 / 2;    
    align-self: self-end;     
   
}

.card-icon svg {
    width: 65%;
    height: 65%;
}

.card-icon svg * {
    stroke: var(--main-text);
}

.card-icon.cap svg {   
    width: 100%;
    height: 100%;
}

.card-icon.location svg {
    width: 50%;
    height: 50%;
}

.card-description {
    grid-column: span 2;
    grid-row: 2 / 3;

    margin-top: 1.5em;

    font-size: 1.25em;
    word-break: keep-all;
    line-height: 1.3;
}

.arrow {
    grid-row: 1 / 2;
    width: 100%;   
}

.arrow svg {
    width: 100%;    
}

.arrow svg * {
    stroke: var(--main-text);
}

.bg-line {
    width: 100em;
    height: 100em;
    top: 0%;
    left: 60%;
    position: absolute;
    z-index: -1;

    filter: blur(15px);
    animation: 90s infinite backwards bg-line-rotation linear;
}

.bg-line svg  {
    width: 100%;
    height: 100%;
}

@keyframes bg-line-rotation {
    0% {
        transform: rotate(0deg);
    }    
    100% {
        transform: rotate(360deg);
    }
}