@import url("../../styles.css");
.working-easy {
    display: block;
    margin: 0;
    padding: 4em 9em 9em;
    height: 100vh;
    width: 100%;
    background-color: var(--background);
    font-size: inherit;
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-bottom: 1px solid var(--secondary-text);
}

h2 {
    margin-top: .5em;
    font-size: 3em;
}


.card-container {
    display: grid;
    /* grid-template-columns: minmax(2em, 1fr) auto minmax(2em, 1fr) auto minmax(2em, 1fr) auto minmax(2em, 1fr);     */
    grid-template-columns: 3fr 1fr 3fr 1fr 3fr 1fr 3fr;
    grid-template-rows: auto;   
    
    margin: auto 0;
    justify-items: center;    
    align-items: center;

    height: 100%;
}



.card {    
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: auto 2fr;    
    align-items: center;
    
    padding: 7.5em 2.5em;
    
    height: 25em;
    width: 18.75em;

    text-align: center;
    
    outline: 2px solid var(--outline);
    border-radius: 5px;
    background-color: var(--card);
    box-shadow: 0px 0px 20px 2px var(--dark-shadow);

    transition: all .1s linear;

}

.card:hover {
    box-shadow: 0px 0px 15px 2px var(--outline);
    
}

.card.first {
    margin-bottom: 3em;
}

.card.second {
    margin-top: 5em;
}

.card.third {
    margin-bottom: .5em;
}

.card.fourth {
    margin-top: 2.5em;
}

.card-number {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    text-align: left;
    font-size: 8em;
    line-height: .8;
}

.card-icon {
    grid-column: 2 / 3;
    grid-row: 1 / 2;    
    align-self: self-end;     
   
}

.card-icon svg {
    width: 65%;
    height: 65%;
}

.card-icon svg * {
    stroke: var(--main-text);
}

.card-icon.cap svg {   
    width: 100%;
    height: 100%;
}

.card-icon.location svg {
    width: 50%;
    height: 50%;
}

.card-description {
    grid-column: span 2;
    grid-row: 2 / 3;

    margin-top: 1.5em;

    font-size: 1.25em;
    word-break: keep-all;
    line-height: 1.3;
}

.arrow {
    grid-row: 1 / 2;
    width: 100%;   
}

.arrow svg {
    width: 100%;    
}

.arrow svg * {
    stroke: var(--main-text);
}



/* ////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
//////////////////////////////////////////////////////// */



@media (max-width: 600px) {   

    .working-easy {        
        padding: 22em 9em 14em;        
    }
    
    h2 {
        margin-top: 1em;
        margin-bottom: .5em;
        font-size: 6em;
    }    
    
    .card-container {        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr auto 3fr auto 3fr auto 3fr; 

        position: relative;
    }   
    
    
    .card {        
        padding: 0;
        height: 80%;
        width: 90%;

        outline: none;
        border: none;
        background-color: transparent;
        box-shadow: none;       
    }
    
    
    .card.first {
        grid-column: 2 / 3 ;
        grid-row: 1 / 2;   
        margin-bottom: 0;     
    }
    
    .card.second {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-top: 0;
    }
    
    .card.third {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        margin-bottom: 0em;
    }
    
    .card.fourth {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        margin-top: 0;
    }
    
    .card-number {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
       
        font-size: 20em;       
    }
    
    .card-icon {
        grid-column: 2 / 3;
        grid-row: 1 / 2;    
        align-self: self-end;            
    }   

    .card-icon.cap svg {
        width: 90%;
        height: 90%;
    }

    .card-icon.location svg {
        width: 40%;
        height: 40%;
    }
    
    .card-description {
        grid-column: span 2;
        grid-row: 2 / 3;
    
        margin-top: 1.5em;
    
        font-size: 4em;        
    }
    
    .arrow {
        position: absolute;
    }    
    
    .arrow.first {
        grid-column: span 2;
        grid-row: 2 / 3;

        transform: rotate(130deg);
    }
    
    .arrow.second {
        grid-column: span 2;
        grid-row: 4 / 5;

        transform: rotate(25deg);
    }
    
    .arrow.third {
        grid-column: span 2;
        grid-row: 6 / 7;

        transform: rotate(135deg);
    }   
}


/* ////////////////////////////////////////////////////////
////////////////////////////////////////////////////////
//////////////////////////////////////////////////////// */


@media (min-width: 600px) and (max-width: 900px) {
    .working-easy {        
        padding: 0em 9em 14em;                
    }
    
    h2 {
        margin-top: 1em;
        font-size: 6em;
    }    
    
    .card-container {
        
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 3fr auto 3fr auto 3fr auto 3fr; 

        position: relative;
    }   
    
    
    .card {           
        margin: 0;
        padding: 0;     
    
        height: 80%;
        width: 70%;
        
        outline: none;
        /* border: 1px solid white; */
        border: none;
        background-color: transparent;
        box-shadow: none;
        
    }
    
    
    .card.first {
        grid-column: 2 / 3 ;
        grid-row: 1 / 2;   
        margin-bottom: 0;     
    }
    
    .card.second {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin-top: 0;
    }
    
    .card.third {
        grid-column: 2 / 3;
        grid-row: 5 / 6;
        margin-bottom: 0em;
    }
    
    .card.fourth {
        grid-column: 1 / 2;
        grid-row: 7 / 8;
        margin-top: 0;
    }
    
    .card-number {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
       
        font-size: 15em;       
    }
    
    .card-icon {
        grid-column: 2 / 3;
        grid-row: 1 / 2;    
        align-self: self-end;     
       
    }    

    .card-icon svg {
        height: 50%;
        width: 50%;
    }

    .card-icon.cap svg {
        height: 70%;
        width: 70%;
    }

    .card-icon.location svg {
        height: 40%;
        width: 40%;
    }
    
    .card-description {
        grid-column: span 2;
        grid-row: 2 / 3;
    
        margin-top: 1.5em;
    
        font-size: 3em;        
    }
    
    .arrow {
        position: absolute;
    }    
    
    .arrow.first {
        grid-column: span 2;
        grid-row: 2 / 3;

        transform: rotate(130deg);
    }
    
    .arrow.second {
        grid-column: span 2;
        grid-row: 4 / 5;

        transform: rotate(25deg);
    }
    
    .arrow.third {
        grid-column: span 2;
        grid-row: 6 / 7;

        transform: rotate(135deg);
    }   
}