<div class="order desktop" [formGroup]="form">
	<p class="order-number">1/2</p>
	<img class="order-image" [src]="productItem.color.rightSmallUrl" alt="" />
	<div class="count-of-items">
		<app-quantity formControlName="amount" [IsDisabled]="false" [postfix]="'шт.'"></app-quantity>
	</div>
	<div class="order-description">
		<label class="name-label" for="name">Название:</label>
		<span class="product-name" id="name">{{ productItem.name }}</span>

		<label class="vendor-code-label" for="vendor-code-label">Артикул:</label>
		<span class="product-vendor-code" id="vendor-code">{{ productItem.vendorCode }}</span>

		<label class="print-label" for="print-label">Нанесение:</label>
		<span class="product-print" id="print">{{ productItem.printType }}</span>
	</div>

	<div class="order-status">
		<label for="status">Статус:</label>
		<span class="status" id="status">{{ productItem.status }}</span>
	</div>
	<div class="order-price">
		<label for="price">Цена:</label>
		<span class="price" id="price">{{ productItem.price }}р.</span>
	</div>
	<div class="remove-icon" (click)="removeItem()">
		<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M11 15.0823L14.4498 37.1309C14.6021 38.1043 15.4405 38.8218 16.4258 38.8218H31.5747C32.5599 38.8218 33.3983 38.1043 33.5506 37.1309L37.0004 15.0823"
				stroke="#A2A2A2"
				stroke-width="2"
				stroke-linecap="round"
			/>
			<path d="M14.7148 10.4998H33.2866" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
			<path d="M20.6895 15.6069L20.6895 31.514" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
			<path d="M27.3105 15.6069L27.3105 31.514" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
			<path d="M20.2861 8.17834H27.7148" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
		</svg>
	</div>
</div>

<div class="order mobile">
	<p class="order-number">1/2</p>
	<img class="order-image" src="../../assets/caps/left.png" alt="" />
	<div class="count-of-items">
		<app-quantity [value]="productItem.amount" [postfix]="'шт.'"></app-quantity>
	</div>
	<div class="order-description">
		<label class="name-label" for="name">Название:</label>
		<span class="product-name" id="name">{{ productItem.name }}</span>

		<label class="vendor-code-label" for="vendor-code-label">Артикул:</label>
		<span class="product-vendor-code" id="vendor-code">{{ productItem.vendorCode }}</span>

		<label class="print-label" for="print-label">Нанесение:</label>
		<span class="product-print" id="print">{{ productItem.printType }}</span>

		<label class="status-label" for="status">Статус:</label>
		<span class="status" id="status">{{ productItem.status }}</span>
	</div>

	<div class="order-price">
		<label for="price">Цена:</label>
		<span class="price" id="price">{{ productItem.price * productItem.amount }}p.</span>
	</div>

	<div class="remove-icon" (click)="removeItem()">
		<svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path
				d="M11 15.0823L14.4498 37.1309C14.6021 38.1043 15.4405 38.8218 16.4258 38.8218H31.5747C32.5599 38.8218 33.3983 38.1043 33.5506 37.1309L37.0004 15.0823"
				stroke="#A2A2A2"
				stroke-width="2"
				stroke-linecap="round"
			/>
			<path d="M14.7148 10.4998H33.2866" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
			<path d="M20.6895 15.6069L20.6895 31.514" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
			<path d="M27.3105 15.6069L27.3105 31.514" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
			<path d="M20.2861 8.17834H27.7148" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
		</svg>
	</div>
</div>
