@import url("../../styles.css");

.partners {
    display: block;

    padding: 2em 9em;
    height: 100vh;
    width: 100%;
    background-color: var(--background) ;
    position: relative;    
}

.container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, auto));
    grid-template-rows: repeat(4, minmax(100px, auto));  
    
    height: 100%;
    width: 100%;

    gap: 3em;

    align-items: center;
    justify-items: center;    
   
}

.icon {
    display: block;        

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 100%;    
}

.icon:nth-child(1) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;    
    
    width: 15em;
    background-image: url("../../assets/logo/chaika.png");    
}
/* chaika */

.icon:nth-child(2) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;    
    
    background-image: url("../../assets/logo/medeka.svg");
}
/* medeka */

.icon:nth-child(3) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;    

    width: 25em;
    
    background-image: url("../../assets/logo/smartmarket.svg");
}
/* smartmarket */

.icon:nth-child(4) {
    grid-row: 1 / span 2;
    grid-column: 4 / 5;    

    width: 14em;
    background-image: url("../../assets/logo/svoboda.svg");    
}
/* svoboda */

.icon:nth-child(5) {
    grid-row: 2 / 3;
    grid-column: 1 / 2;      
   
    background-image: url("../../assets/logo/rosatom.svg");
}
/* rosatom */

.icon:nth-child(6) {
    grid-row: 2 / 3;
    grid-column: 2 / 3;     
    
    background-image: url("../../assets/logo/domodedovo.svg");
}
/* domodedovo */

.icon:nth-child(7) {
    grid-row: 2 / 3;
    grid-column: 3 / 4;    

    width: 20em;
    background-image: url("../../assets/logo/eldorado.svg");
}
/* eldorado */

.icon:nth-child(8) {
    grid-row: 3 / span 2;
    grid-column: 1 / 2;   
    
    width: 15em;
    background-image: url("../../assets/logo/kinofest.png");
}
/* kinofest */

.icon:nth-child(9) {
    grid-row: 3 / 4;
    grid-column: 2 / 3;   
    
    width: 12em;
    background-image: url("../../assets/logo/brusnika.svg");    
}
/* brusnika */

.icon:nth-child(10) {
    grid-row: 3 / 4;
    grid-column: 3 / 4;  
    
    background-image: url("../../assets/logo/ffk.png");
}
/* ffk */

.icon:nth-child(11) {
    grid-row: 3 / 4;
    grid-column: 4 / 5;    

    background-image: url("../../assets/logo/sladkaya.png");
}
/* sladkaya zhizn */

.icon:nth-child(12) {
    grid-row: 4 / 5;
    grid-column: 2 / 3;    

    background-image: url("../../assets/logo/thuraya.png");
}
/* thuraya */

.icon:nth-child(13) {
    grid-row: 4 / 5;
    grid-column: 3 / 4;    

    width: 20em;
    background-image: url("../../assets/logo/moscow.svg");
}
/* moscow */

.icon:nth-child(14) {
    grid-row: 4 / 5;
    grid-column: 4 / 5;    

    background-image: url("../../assets/logo/rso.svg");
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--background);
    height: 6.25em;
    width: 100%;

    text-align: center;
    vertical-align: middle;
    border-top: 1px solid var(--main-text);   
}

a {
    margin-top: .5em;
    color: var(--main-text);
}


/* /////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////// */

@media (max-width: 600px) {
    .partners {        
        padding: 21em 9em 0;       
    }
    
    .container {        
        grid-template-columns: repeat(3, minmax(100px, auto));
        grid-template-rows: repeat(5, minmax(100px, auto));                 
    }
    
    .icon:nth-child(1) {
        width: 20em;    
    }
    /* chaika */
    
    .icon:nth-child(2) {      
        width: 28em;        
    }
    /* medeka */
    
    .icon:nth-child(3) {        
        width: 40em;        
    }
    /* smartmarket */
    
    .icon:nth-child(4) {
        grid-row: 3 / 4;
        grid-column: 2 / 3;    
    
        width: 20em;           
    }
    /* svoboda */
    
    .icon:nth-child(5) {       
        width: 20em;        
    }
    /* rosatom */
    
    .icon:nth-child(6) {     
        width: 32em;   
        background-image: url("../../assets/logo/domodedovo.svg");
    }
    /* domodedovo */
    
    .icon:nth-child(7) {     
        width: 30em; 
        background-image: url("../../assets/logo/eldorado.svg");
    }
    /* eldorado */
    
    .icon:nth-child(8) {
        grid-row: 3 / 4;
        grid-column: 1 / 2;       
        width: 25em;  
    }
    /* kinofest */
    
    .icon:nth-child(9) {
        grid-row: 5 / 6;
        grid-column: 2 / 3;   
        
        width: 20em;    
    }
    /* brusnika */
    
    .icon:nth-child(10) {      
        width: 25em;
        background-image: url("../../assets/logo/ffk.png");
    }
    /* ffk */
    
    .icon:nth-child(11) {
        grid-row: 5 / 6;
        grid-column: 1 / 2;   
        width: 25em;     
    }
    /* sladkaya zhizn */
    
    .icon:nth-child(12) {
        grid-row: 5 / 6;
        grid-column: 3 / 4;    
    
        width: 25em;        
    }
    /* thuraya */
    
    .icon:nth-child(13) {     
        width: 35em;        
    }
    /* moscow */
    
    .icon:nth-child(14) {
        grid-row: 4 / 5;
        grid-column: 1 / span 2;
        
        width: 50em;
    
        background-image: url("../../assets/logo/rso.svg");
    }
    /* rso */
    
    footer {        
        font-size: 2.5em;        
    }    
}


/* /////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////// */


@media (min-width: 600px) and (max-width: 900px) {

    .partners {        
        padding: 2em 9em;       
    }
    
    .container {        
        grid-template-columns: repeat(3, minmax(100px, auto));
        grid-template-rows: repeat(5, minmax(100px, auto));                 
    }
    
    .icon:nth-child(1) {
        width: 20em;    
    }
    /* chaika */
    
    .icon:nth-child(2) {      
        width: 28em;        
    }
    /* medeka */
    
    .icon:nth-child(3) {        
        width: 40em;        
    }
    /* smartmarket */
    
    .icon:nth-child(4) {
        grid-row: 3 / 4;
        grid-column: 2 / 3;    
    
        width: 20em;           
    }
    /* svoboda */
    
    .icon:nth-child(5) {       
        width: 20em;        
    }
    /* rosatom */
    
    .icon:nth-child(6) {     
        width: 32em;   
        background-image: url("../../assets/logo/domodedovo.svg");
    }
    /* domodedovo */
    
    .icon:nth-child(7) {     
        width: 30em; 
        background-image: url("../../assets/logo/eldorado.svg");
    }
    /* eldorado */
    
    .icon:nth-child(8) {
        grid-row: 3 / 4;
        grid-column: 1 / 2;       
        width: 25em;  
    }
    /* kinofest */
    
    .icon:nth-child(9) {
        grid-row: 5 / 6;
        grid-column: 2 / 3;   
        
        width: 20em;    
    }
    /* brusnika */
    
    .icon:nth-child(10) {      
        width: 25em;
        background-image: url("../../assets/logo/ffk.png");
    }
    /* ffk */
    
    .icon:nth-child(11) {
        grid-row: 5 / 6;
        grid-column: 1 / 2;   
        width: 25em;     
    }
    /* sladkaya zhizn */
    
    .icon:nth-child(12) {
        grid-row: 5 / 6;
        grid-column: 3 / 4;    
    
        width: 25em;        
    }
    /* thuraya */
    
    .icon:nth-child(13) {     
        width: 35em;        
    }
    /* moscow */
    
    .icon:nth-child(14) {
        grid-row: 4 / 5;
        grid-column: 1 / span 2;
        
        width: 50em;
    
        background-image: url("../../assets/logo/rso.svg");
    }
    /* rso */
    
    footer {        
        font-size: 2.5em;        
    }    
}



/* /////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////// */

@media (min-width: 900px) and (max-width: 1200px) {
    footer {
        font-size: 1.5em;
    }
}