<section class="partners" id="partners">
    <div class="container">
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>
        <div class="icon"></div>        
    </div>   
    <app-mobile-background-line></app-mobile-background-line>
</section>
<footer>
    <p>Москва, Каширское шоссе, д. 114 к1</p>
    <a href="+79453454433">+79453454433</a>
</footer>