*,
h1,
h2,
h3,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;   
    line-height: 1;

    --intro-section-bg-light-color: #646464;
    --intro-section-bg-dark-color: #292929;
    --main-text-color: #d4d4d4;
    --text-shadow-color: #7d7d7d;
    --text-button-color: #4c4c4c;
    --dark-bg: #292929;
    --yellow: #ecff10;
}

/* rgba(13, 13, 13, 0.94); */

html {    
    font-size: 16px;    
    font-family: 'Play', sans-serif;
    color: var(--main-text-color);
}


.dark-mode {

}

