<div class="product" (click)="toProductCard()">
    <span class="number">{{ index + 1 }}</span>
    <!-- <img class="product-image" src="../../assets/caps/right.png" alt=""> -->
    <img class="product-image" src={{product.productColors[0].rightSmallUrl}} alt="">
    <div class="product-description">
        <label class="product-name-label" for="product-name" >Название:</label>
        <span class="product-name" id="product-name">{{ product.name }}</span>
        <label class="product-vendor-code-label" for="vendor-code" >Артикул:</label>
        <span class="vendor-code" id="vendor-code">{{ product.code }}</span>
    </div>
    <div class="properties">
        <p class="property" *ngFor="let p of product.productProps">
            <span>{{p.name}}</span>
            <span class="dots">..............................</span>
            <span>{{p.value}}</span>
        </p>
        
        <p class="shadow"></p>
    </div>
    <div class="types-of-print">
        <p class="print" *ngFor="let p of product.print;">{{p}}</p>        
        <p class="shadow"></p>
    </div>
    <div class="colors">
        <span class="color" *ngFor="let c of product.productColors"  [ngStyle]="{'background-color': c.value}"></span>        
    </div>    
    <span class="product-price">{{product.price}}р./шт.</span>
</div>