<section class="client-orders">
	<div class="orders">
		<nav class="product-nav-bar">
			<button class="arrow-back-icon" [routerLink]="['/products']">
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M20 3L5.2901 18.6293C4.5653 19.3994 4.5653 20.6006 5.2901 21.3707L20 37"
						stroke="#A2A2A2"
						stroke-width="3"
						stroke-linecap="round"
					/>
					<path d="M6 20H36" stroke="#A2A2A2" stroke-width="3" stroke-linecap="round" />
				</svg>
			</button>
		</nav>
		<p class="orders-title">Ваш заказ:</p>
		<app-customer-order *ngFor="let item of orderItems$ | async" [productItem]="item"></app-customer-order>
		<button class="approve-order btn" [disabled]="!(isOrderNotEmpty$ | async)" (click)="approveOrder()">
			Заказать
		</button>
	</div>
	<div class="order-form-container" [ngStyle]="{ display: isFormVisible ? 'flex' : 'none' }">
		<form class="order-form" [formGroup]="form" (submit)="submit()">
			<div class="form-controls-container">
				<h2 class="form-title">Введите данные для связи:</h2>
				<div class="form-control">
					<label class="form-label" for="name">Имя:</label>
					<input class="form-input" id="name" type="text" formControlName="name" />
					<div class="validation"></div>
				</div>
				<div class="form-control">
					<label class="form-label" for="phone">Телефон:</label>
					<input class="form-input" id="phone" type="tel" formControlName="phone" />
					<div class="validation"></div>
				</div>
				<div class="form-control">
					<label class="form-label" for="email">Email:</label>
					<input class="form-input" id="email" type="email" formControlName="email" />
					<div class="validation"></div>
				</div>
			</div>

			<button class="submit-btn btn" [disabled]="form.invalid">Отправить</button>
			<button class="button icon" (click)="closeForm()">
				<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M1 13H25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
					<path d="M13 1L13 25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
				</svg>
			</button>
		</form>
	</div>
	<app-mobile-background-line></app-mobile-background-line>
</section>
