<section class="container">
	<div class="navigation-btns">
		<ng-container *ngIf="!isMobile">
			<app-account-buttons></app-account-buttons>
		</ng-container>
		<div class="arrow-back icon" [routerLink]="['/admin/active-orders']">
			<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
				<path
					d="M20 3L5.2901 18.6293C4.5653 19.3994 4.5653 20.6006 5.2901 21.3707L20 37"
					stroke="#A2A2A2"
					stroke-width="3"
					stroke-linecap="round"
				/>
				<path d="M6 20H36" stroke="#A2A2A2" stroke-width="3" stroke-linecap="round" />
			</svg>
		</div>
	</div>
	<div class="titles" *ngIf="!isMobile">
		<p class="contacts">Контакты:</p>
		<p class="dates">Сроки:</p>
		<p class="status">Статус:</p>
		<p class="comments">Комментарий к заказу:</p>
		<p class="amount">Количество:</p>
		<p class="total-amount">Сумма:</p>
	</div>
	<form class="form" [formGroup]="form" (ngSubmit)="onSubmit(form)">
		<div class="general-info" [ngClass]="{ edit: editable }">
			<ng-container *ngIf="isMobile">
				<div class="edit-icon icon" #editBtn (click)="edit()" [ngClass]="{ hidden: editable, showed: !editable }">
					<svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M36.8624 10.8241L30.1687 6.78452C29.6958 6.49915 29.0812 6.65114 28.7958 7.12399L14.1704 31.3585C14.056 31.5479 14.0078 31.77 14.0332 31.9898L14.7661 38.3408C14.8412 38.9912 15.5106 39.3953 16.1211 39.1586L22.0818 36.8471C22.2881 36.7671 22.4621 36.621 22.5764 36.4315L37.2018 12.197C37.4872 11.7241 37.3352 11.1095 36.8624 10.8241Z"
							stroke="#A2A2A2"
							stroke-width="2"
						/>
						<circle
							cx="16.6057"
							cy="36.8243"
							r="2.45455"
							transform="rotate(31.1108 16.6057 36.8243)"
							fill="#A2A2A2"
						/>
					</svg>
				</div>
				<div class="remove-icon icon" #removeBtn [ngClass]="{ showed: editable, hidden: !editable }">
					<svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path
							d="M11 15.0823L14.4498 37.1309C14.6021 38.1043 15.4405 38.8218 16.4258 38.8218H31.5747C32.5599 38.8218 33.3983 38.1043 33.5506 37.1309L37.0004 15.0823"
							stroke="#A2A2A2"
							stroke-width="2"
							stroke-linecap="round"
						/>
						<path d="M14.7148 10.4998H33.2866" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
						<path d="M20.6895 15.6069L20.6895 31.514" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
						<path d="M27.3105 15.6069L27.3105 31.514" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
						<path d="M20.2861 8.17834H27.7148" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
					</svg>
				</div>
			</ng-container>
			<p class="number">1</p>
			<div class="contacts">
				<input class="phone" [ngClass]="{ outlined: editable }" type="tel" formControlName="phone" />
				<input class="name" type="text" [ngClass]="{ outlined: editable }" formControlName="name" />
				<input class="email" type="email" [ngClass]="{ outlined: editable }" formControlName="email" />
			</div>
			<div class="dates">
				<input
					class="date-of-creation"
					type="date"
					[ngClass]="{ outlined: editable }"
					onfocus="this.showPicker()"
					formControlName="dateOfCreation"
				/>
				<input
					class="date-of-completion"
					type="date"
					[ngClass]="{ outlined: editable }"
					onfocus="this.showPicker()"
					formControlName="dateOfCompletion"
				/>
				<span>Осталось 2 недели</span>
			</div>
			<select class="status" [ngClass]="{ outlined: editable }" formControlName="status">
				<option value="В заказе">В заказе</option>
				<option selected value="В производстве">В производстве</option>
				<option value="Отправлен заказчику">Отправлен заказчику</option>
				<option value="Завершен">Завершен</option>
			</select>
			<textarea class="comment" autocomplete="off" [ngClass]="{ outlined: editable }" formControlName="comment">
Сделать как можно быстрее, т.к. заказ попал на праздничние дни. </textarea
			>
			<div class="resizable-part" [ngClass]="{ edit: editable }">
				<div class="amounts">
					<p class="amount">{{ count }}шт.</p>
					<p class="total-amount">{{ totalPrice }}p.</p>
				</div>
				<ng-container *ngIf="!isMobile">
					<div
						class="edit-icon icon"
						#editBtn
						(click)="edit()"
						[ngClass]="{ hidden: editable, showed: !editable }"
					>
						<svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M36.8624 10.8241L30.1687 6.78452C29.6958 6.49915 29.0812 6.65114 28.7958 7.12399L14.1704 31.3585C14.056 31.5479 14.0078 31.77 14.0332 31.9898L14.7661 38.3408C14.8412 38.9912 15.5106 39.3953 16.1211 39.1586L22.0818 36.8471C22.2881 36.7671 22.4621 36.621 22.5764 36.4315L37.2018 12.197C37.4872 11.7241 37.3352 11.1095 36.8624 10.8241Z"
								stroke="#A2A2A2"
								stroke-width="2"
							/>
							<circle
								cx="16.6057"
								cy="36.8243"
								r="2.45455"
								transform="rotate(31.1108 16.6057 36.8243)"
								fill="#A2A2A2"
							/>
						</svg>
					</div>
					<div class="remove-icon icon" #removeBtn [ngClass]="{ showed: editable, hidden: !editable }">
						<svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path
								d="M11 15.0823L14.4498 37.1309C14.6021 38.1043 15.4405 38.8218 16.4258 38.8218H31.5747C32.5599 38.8218 33.3983 38.1043 33.5506 37.1309L37.0004 15.0823"
								stroke="#A2A2A2"
								stroke-width="2"
								stroke-linecap="round"
							/>
							<path d="M14.7148 10.4998H33.2866" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
							<path
								d="M20.6895 15.6069L20.6895 31.514"
								stroke="#A2A2A2"
								stroke-width="2"
								stroke-linecap="round"
							/>
							<path
								d="M27.3105 15.6069L27.3105 31.514"
								stroke="#A2A2A2"
								stroke-width="2"
								stroke-linecap="round"
							/>
							<path d="M20.2861 8.17834H27.7148" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
						</svg>
					</div>
				</ng-container>
				<div class="save-cancel-btns">
					<button class="save-btn" [disabled]="!editable" type="submit">Сохранить</button>
					<button class="cancel-btn" [disabled]="!editable" (click)="cancel()">Отмена</button>
				</div>
			</div>
		</div>
		<div class="position-item-info">
			<div class="item-container">
				<app-position-item-info
					formArrayName="orderItems"
					*ngFor="let item of orderItems.controls; index as i"
					[item]="item"
					[index]="i"
					[itemLength]="orderItems.controls.length"
					(onRemoveItem)="removeItem($event)"
				></app-position-item-info>
				<button class="add-item-btn icon" *ngIf="editable" (click)="showProductModal()">
					<svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
						<rect x="0.5" y="0.5" width="47" height="47" rx="4.5" stroke="#A2A2A2" />
						<path d="M12 24H36" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
						<path d="M24 12L24 36" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
					</svg>
				</button>
			</div>
		</div>
	</form>
	<app-add-order-item
		[isSelectProductVisible]="isSelectProductVisible"
		(onCloseProductModal)="closeProductModal($event)"
		(onSelectProduct)="addItem($event)"
	></app-add-order-item>
</section>
