.container {
	display: block;
	width: 100%;
	height: 100vh;

	padding: 5em 6.125em;
	background-color: var(--background);

	position: relative;
}

.titles {
	display: grid;
	grid-template-columns: 1fr 3fr 2fr 2fr 6fr 2fr 2fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;

	margin: 0 2em;
	color: var(--secondary-text);
}

.titles .contacts {
	grid-column: 2 / 3;
	margin-right: 6em;
}

.titles .dates {
	grid-column: 3 / 4;
	margin-right: 5em;
}

.titles .status {
	grid-column: 4 / 5;
	margin-right: 3em;
}

.titles .comments {
	grid-column: 5 / 6;
	margin-right: 3em;
}

.titles .amount {
	grid-column: 6 / 7;
	margin-right: 1em;
}

.titles .total-amount {
	grid-column: 7 / 8;
	margin-right: 2.5em;
}

.general-info {
	display: grid;
	grid-template-columns: 1fr 3fr 2fr 2fr 6fr 2fr 2fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-items: center;

	margin: 1.5em 2em 1em;
	padding: 1em 1em 1em 0;

	color: var(--secondary-text);

	background-color: var(--card);
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 20px 1px var(--dark-shadow);
	overflow: hidden;
	transition: 0.2s;
}

.general-info.edit {
	padding: 2em 1em 2em 0;
}

.number {
	font-size: 1.5em;
}

/* .phone {
	margin-bottom: 0.4em;
} */

.date-of-creation {
	margin-bottom: 0.4em;
}

.dates span {
	margin-left: 0.3em;
	font-size: 0.8em;
}

.edit-icon {
	grid-column: 8 / 9;

	width: 2.1875em;
	height: 2.1875em;
}

.edit-icon svg {
	width: 100%;
	height: 100%;
}

.edit-icon:hover svg * {
	stroke: var(--outline);
}

.remove-icon {
	display: none;
	grid-column: 8 / 9;

	width: 2.1875em;
	height: 2.1875em;
}

.remove-icon svg {
	width: 100%;
	height: 100%;
}

.remove-icon:hover svg * {
	stroke: var(--outline);
}

.hidden {
	display: none;
	animation: hidden 0.2s linear 0s 1 normal forwards;
}

.showed {
	display: block;
	animation: hidden 0.2s linear 0s 1 reverse forwards;
}

@keyframes hidden {
	0% {
		opacity: 100%;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}

input {
	padding: 0.2em;
	border: none;
	background-color: var(--card);
	color: var(--secondary-text);
	font-size: inherit;
	font-family: inherit;
	appearance: none;
	transition: 0.15s;
	outline: 1px solid transparent;
}

input[type='date']::-webkit-calendar-picker-indicator {
	display: none;
}

select {
	padding: 0.2em;
	border: none;
	background-color: var(--card);
	color: var(--secondary-text);
	font-size: inherit;
	font-family: inherit;
	appearance: none;
	transition: 0.15s;
	outline: 1px solid transparent;
}

textarea {
	display: flex;
	align-items: center;

	padding: 2.1875em 0 2.1875em 1em;
	width: 90%;
	height: 100%;
	vertical-align: middle;
	overflow-y: scroll;
	border: none;
	background-color: var(--card);
	color: var(--secondary-text);
	font-size: inherit;
	font-family: inherit;
	resize: none;
	transition: 0.15s;
	outline: 1px solid transparent;
}

.outlined {
	outline: 1px solid var(--secondary-text);
	border-radius: 3px;
}

textarea::-webkit-scrollbar {
	display: none;
}

textarea::-webkit-scrollbar-track {
	display: none;
}

textarea::-webkit-scrollbar-thumb {
	display: none;
}

textarea::-webkit-scrollbar-corner {
	display: none;
}

.arrow-back {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 2em;
	left: 2em;
}

.arrow-back svg {
	width: 100%;
	height: 100%;
}

.arrow-back:hover svg * {
	stroke: var(--outline);
}

.resizable-part {
	grid-column: 6 / 9;
	grid-row: 1 / 2;

	display: grid;
	grid-template-columns: 2fr 2fr 1fr;
	grid-template-rows: 100% auto;
	align-items: center;
	justify-items: center;

	width: 100%;
	height: 100%;
	transition: 0.2s;
}

.resizable-part.edit {
	grid-template-rows: 40% auto;
}

.resizable-part .amount {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.resizable-part .total-amount {
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.resizable-part .edit-icon {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.resizable-part .remove-icon {
	grid-column: 3 / 4;
	grid-row: 1 / 2;
}

.save-cancel-btns {
	grid-column: span 3;
	grid-row: 2 / 3;
	justify-self: end;

	margin: 2em 1em 0;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.save-cancel-btns button {
	padding: 0.5em 1em;

	border: 1px solid var(--secondary-text);
	border-radius: 5px;
	font-size: 1em;
	color: var(--secondary-text);
	font-family: inherit;
	transition: 0.2s;
}

button:disabled {
	opacity: 0;
}
.save-cancel-btns button:hover {
	color: var(--main-text);
	border-color: var(--outline);
}

.save-cancel-btns button + button {
	margin-left: 2em;
}

.position-item-info {
	height: 63vh;

	margin: 0 2em;
	/* padding: 3em 1em 3em 0; */

	color: var(--secondary-text);

	background-color: var(--card);
	border: none;
	border-radius: 10px;
	box-shadow: 0 0 20px 1px var(--dark-shadow);
	overflow: hidden;
}

.item-container {
	width: 100%;
	height: 100%;
	overflow-y: scroll;
}

.item-container::-webkit-scrollbar {
	display: none;
}

.item-container::-webkit-scrollbar-track {
	display: none;
}

.item-container::-webkit-scrollbar-thumb {
	display: none;
}

.item-container::-webkit-scrollbar-corner {
	display: none;
}

.add-item-btn {
	display: block;
	margin: 1em auto;
	width: 2em;
	height: 2em;
	cursor: pointer;
}

.add-item-btn:hover svg * {
	stroke: var(--outline);
}

.add-item-btn svg {
	width: 100%;
	height: 100%;
}
