<div class="colors-with-btns">
	<button class="previous-color color-btn icon" #prevBtn (click)="previousColor()">
		<svg viewBox="0 0 30 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1.64648 15L15.6337 1" stroke="white" stroke-width="2" stroke-linecap="round" />
			<path d="M15.6338 1L28.6465 15" stroke="white" stroke-width="2" stroke-linecap="round" />
		</svg>
	</button>
	<ng-container *ngIf="colorsControl.value !== ''">
		<div class="color-items" #colors>
			<div class="color" *ngFor="let c of colorsControl.value" [ngStyle]="{ 'background-color': c.value }"></div>
			<ng-container *ngIf="editable">
				<button class="button icon remove">
					<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path d="M2.48438 19.4846L19.4549 2.51406" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
						<path d="M2.48535 2.51465L19.4559 19.4852" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
					</svg>
				</button>
			</ng-container>
		</div>
	</ng-container>

	<button class="next-color color-btn icon" #nextBtn (click)="nextColor()">
		<svg viewBox="0 0 31 16" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M2 1L15.9872 15" stroke="white" stroke-width="2" stroke-linecap="round" />
			<path d="M15.9873 15L29.0001 1" stroke="white" stroke-width="2" stroke-linecap="round" />
		</svg>
	</button>
	<input class="color-picker" type="color" value="#A2A2A2" #colorInput (change)="colorPickerChangedValue($event)" />
	<button class="add icon" (click)="showColorInput()" [ngClass]="{ hidden: !editable, showed: editable }">
		<svg viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1 13H25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
			<path d="M13 1L13 25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
		</svg>
	</button>
</div>
