.colors-with-btns {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: fit-content(35px);
	grid-template-rows: auto auto auto;

	justify-content: center;
	align-content: center;
	align-items: center;
	justify-items: center;
	position: relative;
}

.color-btn {
	width: 1.5rem;
	height: 1.5rem;

	background-color: transparent;
	border: none;
	outline: none;
	cursor: pointer;
}

.previous-color {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.next-color {
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

.color-items {
	grid-column: 1 / 2;
	grid-row: 2 / 3;

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	perspective: 30rem;
	perspective-origin: center;
	position: relative;
	height: 15rem;
	width: 2.1875em;
}

.color {
	margin: 8px 0;
	width: 2.1875em;
	height: 2.1875em;
	position: absolute;
	transition: all 0.2s;
}

.color.selected {
	width: 2.1875em;
	height: 2.1875em;
	border: 2px solid var(--main-text);
	border-radius: 5px;
	z-index: 2;
}

.color.selected:hover {
	box-shadow: 0px 0px 5px var(--main-text);
}

.color-items:hover > .color.selected ~ .remove {
	display: inline;
	position: absolute;
	/* top: 0;
	left: 0; */
	transform: translate3d(-1.7rem, 0, 6rem);
}

.color.first {
	width: 1rem;
	height: 1rem;
}

.first-prev {
	filter: blur(2px);
	opacity: 1;
	transform: translate3d(0, -4.5rem, -12rem);
}

.first-next {
	filter: blur(2px);
	opacity: 1;
	transform: translate3d(0, 4.5rem, -12rem);
}

.color.second {
	filter: blur(2px);
	opacity: 0.7;
}

.second-prev {
	filter: blur(2px);
	opacity: 0.7;
	transform: translate3d(0, -13rem, -40rem);
}

.second-next {
	filter: blur(2px);
	opacity: 0.7;
	transform: translate3d(0, 13rem, -40rem);
}

.hidden {
	opacity: 0;
}

.add.icon {
	margin-top: 2rem;
	width: 1.5rem;
	height: 1.5rem;
}

.icon.hidden {
	display: none;
	animation: hidden 0.2s linear 0s 1 normal forwards;
}

.icon.showed {
	display: block;
	animation: hidden 0.2s linear 0s 1 reverse forwards;
}

@keyframes hidden {
	0% {
		opacity: 100%;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
}

.color-picker {
	position: absolute;
	top: 50%;
	left: 50%;
	pointer-events: none;
	z-index: -11;
}
