<div class="container">
	<div class="image-container front" [ngClass]="{ hidden: !productColor.frontSmallUrl }">
		<img class="image front" [src]="productColor.frontSmallUrl" alt="front-image" />
		<ng-container>
			<button class="button icon remove">
				<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.48438 19.4846L19.4549 2.51406" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
					<path d="M2.48535 2.51465L19.4559 19.4852" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
				</svg>
			</button>
		</ng-container>
	</div>
	<ng-container *ngIf="authService.IsAuthenticated">
		<div
			class="add-image-icon front"
			(click)="chooseImage(front)"
			(mouseover)="enableInput()"
			(mouseleave)="disableInput()"
			[ngClass]="{ hidden: productColor.frontSmallUrl }"
		>
			<button class="add icon">
				<svg _ngcontent-dxn-c13="" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path _ngcontent-dxn-c13="" d="M1 13H25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round"></path>
					<path
						_ngcontent-dxn-c13=""
						d="M13 1L13 25"
						stroke="#A2A2A2"
						stroke-width="2"
						stroke-linecap="round"
					></path>
				</svg>
			</button>
			<input
				type="file"
				accept="image/*"
				[disabled]="inputDisabled"
				#front
				hidden
				(change)="uploadImage(front.files, 'frontSmallUrl')"
				(cancel)="cancel()"
			/>
		</div>
	</ng-container>
	<div class="image-container left" [ngClass]="{ hidden: !productColor.leftSmallUrl }">
		<img class="image left" [src]="productColor.leftSmallUrl" alt="left-image" />
		<ng-container>
			<button class="button icon remove">
				<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.48438 19.4846L19.4549 2.51406" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
					<path d="M2.48535 2.51465L19.4559 19.4852" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
				</svg>
			</button>
		</ng-container>
	</div>
	<ng-container *ngIf="authService.IsAuthenticated">
		<div
			class="add-image-icon left"
			(mouseover)="enableInput()"
			(mouseleave)="disableInput()"
			(click)="left.click()"
			[ngClass]="{ hidden: productColor.leftSmallUrl }"
		>
			<button class="add icon">
				<svg _ngcontent-dxn-c13="" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path _ngcontent-dxn-c13="" d="M1 13H25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round"></path>
					<path
						_ngcontent-dxn-c13=""
						d="M13 1L13 25"
						stroke="#A2A2A2"
						stroke-width="2"
						stroke-linecap="round"
					></path>
				</svg>
			</button>
			<input
				type="file"
				accept="image/*"
				tabindex="-1"
				#left
				hidden
				[disabled]="inputDisabled"
				(change)="uploadImage(left.files, 'leftSmallUrl')"
				(cancel)="cancel()"
			/>
		</div>
	</ng-container>
	<div class="image-container bottom" [ngClass]="{ hidden: !productColor.bottomSmallUrl }">
		<img class="image bottom" [src]="productColor.bottomSmallUrl" alt="bottom-image" />
		<ng-container>
			<button class="button icon remove">
				<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.48438 19.4846L19.4549 2.51406" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
					<path d="M2.48535 2.51465L19.4559 19.4852" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
				</svg>
			</button>
		</ng-container>
	</div>
	<ng-container *ngIf="authService.IsAuthenticated">
		<div
			class="add-image-icon bottom"
			(mouseover)="enableInput()"
			(mouseleave)="disableInput()"
			(click)="bottom.click()"
			[ngClass]="{ hidden: productColor.bottomSmallUrl }"
		>
			<button class="add icon">
				<svg _ngcontent-dxn-c13="" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path _ngcontent-dxn-c13="" d="M1 13H25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round"></path>
					<path
						_ngcontent-dxn-c13=""
						d="M13 1L13 25"
						stroke="#A2A2A2"
						stroke-width="2"
						stroke-linecap="round"
					></path>
				</svg>
			</button>
			<input
				type="file"
				accept="image/*"
				tabindex="-1"
				#bottom
				hidden
				[disabled]="inputDisabled"
				(change)="uploadImage(bottom.files, 'bottomSmallUrl')"
				(cancel)="cancel()"
			/>
		</div>
	</ng-container>
	<div class="image-container right" [ngClass]="{ hidden: !productColor.rightSmallUrl }">
		<img class="image right" [src]="productColor.rightSmallUrl" alt="right-image" />
		<ng-container>
			<button class="button icon remove">
				<svg width="23" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M2.48438 19.4846L19.4549 2.51406" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
					<path d="M2.48535 2.51465L19.4559 19.4852" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
				</svg>
			</button>
		</ng-container>
	</div>
	<ng-container *ngIf="authService.IsAuthenticated">
		<div
			class="add-image-icon right"
			(mouseover)="enableInput()"
			(mouseleave)="disableInput()"
			(click)="right.click()"
			[ngClass]="{ hidden: productColor.rightSmallUrl }"
		>
			<button class="add icon">
				<svg _ngcontent-dxn-c13="" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path _ngcontent-dxn-c13="" d="M1 13H25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round"></path>
					<path
						_ngcontent-dxn-c13=""
						d="M13 1L13 25"
						stroke="#A2A2A2"
						stroke-width="2"
						stroke-linecap="round"
					></path>
				</svg>
			</button>
			<input
				type="file"
				accept="image/*"
				tabindex="-1"
				#right
				hidden
				[disabled]="inputDisabled"
				(change)="uploadImage(right.files, 'rightSmallUrl')"
				(cancel)="cancel()"
			/>
		</div>
	</ng-container>
</div>
