<div class="quantity" [ngClass]="{ edit: !IsDisabled }">
	<button
		class="minus icon"
		type="button"
		(click)="decrease()"
		[disabled]="IsDisabled"
		[ngClass]="{ showed: !IsDisabled }"
	>
		<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1 13H25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
		</svg>
	</button>
	<input
		class="quantity-number"
		type="text"
		[ngClass]="{ outlined: !IsDisabled, 'new-price': colored }"
		[ngStyle]="{ width: inputLenght + 1 + 'ch' }"
		[disabled]="IsDisabled"
		(input)="onInput($event)"
		(focus)="onFocus($event)"
		(blur)="onBlur($event)"
		[value]="quantityString"
	/>
	<button
		class="plus icon"
		type="button"
		(click)="increase()"
		[disabled]="IsDisabled"
		[ngClass]="{ showed: !IsDisabled }"
	>
		<svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M1 13H25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
			<path d="M13 1L13 25" stroke="#A2A2A2" stroke-width="2" stroke-linecap="round" />
		</svg>
	</button>
</div>
<!-- #TODO: сделать сохраниние начального занчения -->
