@import url('../../styles.css');

:host(.q-new-price) {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}

:host(.q-old-price) {
	grid-row: 1 / 2;
	grid-column: 4 / 5;
}
.quantity {
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 0% auto 0%;
	place-items: center;
	transition: 0.2s;
}

.edit {
	grid-template-columns: 20% auto 20%;
}

.handler {
	display: block;
	height: 1.6em;
	width: 1.6em;
	font-size: inherit;

	opacity: 0;
	transform: scale(0);
}

.handler:hover svg path {
	stroke: var(--outline);
	filter: drop-shadow(0 0 1px var(--outline));
}

.minus {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.plus {
	grid-row: 1 / 2;
	grid-column: 3 / 4;
}

.handler svg {
	width: 100%;
	height: 100%;
}

.handler.showed {
	animation: quantityHandlersShow 0.1s linear 0.2s 1 normal forwards;
}

.handler.hidden {
	animation: quantityHandlersShow 0.1s linear 0.2s 1 normal both;
}

.quantity-number {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
	margin: 0 0.3em;
	padding: 0.5em;

	height: 2.4em;
	/* min-width: 3em; */
	/* max-width: 3.5em; */
	width: 9ch;

	text-align: center;

	border: transparent;
	background-color: transparent;
	border-radius: 5px;

	font-size: inherit;
	transition: 2s;
}

.quantity-number.new-price {
	color: var(--new-price);
}

.quantity-number.outlined {
	border: 2px solid var(--secondary-text);
	background-color: var(--card);
}

.quantity-number::-webkit-inner-spin-button,
.quantity-number::-webkit-outer-spin-button {
	display: none;
}

.quantity-number:hover {
	text-shadow: 0px 0px 2px white;
}

@keyframes quantityHandlersShow {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 100%;
	}
}

@media (max-width: 600px) {
	.quantity {
		justify-content: flex-end;
		/* margin-top: 1em;
        margin-right: 2em; */

		font-size: 5em;
	}
}
