<section class="client-orders">
	<div class="orders">
		<nav class="product-nav-bar">
			<button class="arrow-back-icon" [routerLink]="['/products']">
				<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path
						d="M20 3L5.2901 18.6293C4.5653 19.3994 4.5653 20.6006 5.2901 21.3707L20 37"
						stroke="#A2A2A2"
						stroke-width="3"
						stroke-linecap="round"
					/>
					<path d="M6 20H36" stroke="#A2A2A2" stroke-width="3" stroke-linecap="round" />
				</svg>
			</button>
		</nav>
		<p class="orders-title">Ваш заказ:</p>
		<app-client-order *ngFor="let item of orderItems$ | async" [productItem]="item"></app-client-order>
	</div>
	<app-mobile-background-line></app-mobile-background-line>
</section>
